In [1]:
#Assignment 1
n=int(input("Enter Altitude"))
if n<1000:
  print('Land the plane')
elif n>5000:
  print('Go around and try later')
else:
  print('Come down to 1000 ft.')

Enter Altitude1500
Come down to 1000 ft.

In [10]:
#Assignment 2
for num in range(2, 201):
   if num > 1:
       for i in range(2, num):
           if (num % i) == 0:
               break
       else:
           print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97
101
103
107
109
113
127
131
137
139
149
151
157
163
167
173
179
181
191
193
197
199